# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Production
build/
dist/
out/
.next/
coverage/

# dependencies
node_modules/
.pnp
.pnp.js

# IDE settings
.vscode/
.idea/

# testing
coverage/
cypress/screenshots
cypress/videos
cypress/downloads
src/__tests__/__setup__/data.json

# Cache and logs
.cache/
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.eslintcache
.stylelintcache
**/__pycache__

# environment variables
.env*

# Misc
.DS_Store
.gcloudignore
app.yaml
main.py
requirements.txt
