@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&family=Roboto:wght@300;500&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Serif", serif;
  font-weight: 300;
}

body {
  font-family: "Roboto Serif", serif;
}

/* icons */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}

a {
  /* no underline */
  text-decoration: none;
}
