@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&family=Roboto:wght@300;500&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Serif", serif;
  font-weight: 300;
}

body {
  font-family: "Roboto Serif", serif;
  color: "inherit !important";
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* icons */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}

a {
  /* no underline */
  text-decoration: none;
  color: inherit;
}

.spaced-sans-serif {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 2.4px;
}

a:hover {
  color: inherit;
}

input:focus {
  outline: none;
}

a.highlighted-link {
  box-shadow: inset 0 0 0 0 #227773;
  color: #2C6496;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out, padding-left .2s ease-in-out, padding-right .2s ease-in-out;
}
a.highlighted-link:hover {
  box-shadow: inset 500px 0 0 0 #2C6496;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}