h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
}

.ant-switch.ant-switch-checked {
  background-color: #2c6496;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 50px;
}

.ant-select-selection-search {
  height: 50px;
  display: flex;
  align-items: center;
}
.ant-select-selection-placeholder {
  height: 50px;
  display: flex;
  align-items: center;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  display: flex;
  align-items: center;
}

a {
  color: #2c6496;
  font-weight: bold;
}

.serif p {
  font-family: "Merriweather", serif !important;
}

div.ant-modal-content {
  border-radius: 25px;
}

.quote-dots {
  background-color: "black";
}

::-webkit-scrollbar {
  width: 0px;
}

blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

.ant-radio-inner:after {
  background: #2c6496 !important;
}

.ant-radio-checked .ant-radio-inner,
.ant-radio:hover .ant-radio-inner,
.ant-radio-wrapper:hover,
.ant-radio-input:focus .ant-radio-inner {
  border-color: #2c6496 !important;
}