name: Pull request

on:
  pull_request:
    branches: [master]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - uses: psf/black@stable
        with:
          options: ". -l 79 --check"

  test:
    name: CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Test on every node version that is supported
        # by our package.json.
        # Hopefully this allows us to catch problems
        # with differing versions ahead of time.
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          cache: npm
          node-version: ${{ matrix.node-version }}
      - name: Install repository
        run: npm ci
      - name: Validate blog posts
        run: npm run validate-posts
      - name: Lint repository
        run: npm run lint
      - name: Build package
        run: npm run build
      - name: Test repository
        run: make test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
